{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LOQZ</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="LOQZ | Discover Comfort and Innovation with LOQZ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
   

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="LOQZ | Discover Comfort and Innovation with LOQZ" />
   
    <meta property="og:site_name" content="LOQZ | Discover Comfort and Innovation with LOQZ" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description" content="LOQZ | Discover Comfort and Innovation with LOQZ" />
    <!-- Add site Favicon -->
    <link rel="icon" href="{% static 'web/assets/images/favicon/loqz.png'%}" sizes="32x32" />
    <link rel="icon" href="{% static 'web/assets/images/favicon/loqz.png'%}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{% static 'web/assets/images/favicon/loqz.png'%}" />
    <meta name="msapplication-TileImage" content="{% static 'web/assets/images/favicon/loqz.png'%}" />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/css/twentytwenty.min.css" integrity="sha512-NJy06C7fPArp8I0XLO5pDDTDguBMLCPQ2FyjU3xrwuD5CGyN6CbfTr40Zv+YON7lDNzAsRqZeEY8Oi0xrgP+3w==" crossorigin="anonymous" />

    <!-- All CSS is here
	============================================ -->
    <link rel="stylesheet" href="{% static 'web/assets/css/vendor/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/vendor/pe-icon-7-stroke.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/vendor/themify-icons.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/vendor/font-awesome.min.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/animate.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/aos.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/magnific-popup.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/swiper.min.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/jquery-ui.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/nice-select.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/select2.min.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/easyzoom.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/plugins/slinky.css'%}" />
    <link rel="stylesheet" href="{% static 'web/assets/css/style.css'%}" />
    <link rel="stylesheet" href="{% static "web/assets/css/custom.css" %}">
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/css/twentytwenty.min.css'%}" integrity="sha512-NJy06C7fPArp8I0XLO5pDDTDguBMLCPQ2FyjU3xrwuD5CGyN6CbfTr40Zv+YON7lDNzAsRqZeEY8Oi0xrgP+3w==" crossorigin="anonymous" /> {% endcomment %}
</head>
<body>
    <div class="main-wrapper main-wrapper-2">
        {% include "web/partials/header.html" %}
        {% block content %}
        {% endblock  %}
    </div>
        
{% include "web/partials/footer.html" %}
<!-- All JS is here -->
<script src="{% static 'web/assets/js/vendor/modernizr-3.11.7.min.js'%}"></script>
<script src="{% static 'web/assets/js/vendor/jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'web/assets/js/vendor/jquery-migrate-3.3.2.min.js'%}"></script>
<script src="{% static 'web/assets/js/vendor/popper.min.js'%}"></script>
<script src="{% static 'web/assets/js/vendor/bootstrap.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/wow.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/scrollup.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/aos.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/magnific-popup.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/jquery.syotimer.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/swiper.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/jquery-ui.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/jquery-ui-touch-punch.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/waypoints.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/jquery.counterup.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/select2.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/easyzoom.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/slinky.min.js'%}"></script>
<script src="{% static 'web/assets/js/plugins/ajax-mail.js'%}"></script>
<script src="{% static "web/assets/js/ajax.js" %}"></script>
<script src="{% static "web/assets/js/sweetalert2.all.min.js" %}"></script>

<!-- Main JS -->
<script src="{% static 'web/assets/js/main.js'%}"></script>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.event.move.min.js" integrity="sha512-LbipuILGe2LAzpjWmMA+B++LsvW1nAL5IQXvpmidOmJmei0p/odo6ewzxX8YHGc51DGIwcUDa6LxQxOEf7G1EA==" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.twentytwenty.min.js" integrity="sha512-GPLeok4pmABjbz8dF6i4cqao9fhF9LE5X4rI0ORBe2YqbZmaqdSiM7g4oO+CEy99SxZV6memnoKANwopFr6Z6g==" crossorigin="anonymous"></script>
<script>
window.onload = function() {
    // Simulate hover effect on page load to trigger animation
    const container = document.querySelector('.before-after');
    container.classList.add('hover'); // Add and remove hover class to trigger transition
  
    setTimeout(function() {
      container.classList.remove('hover');
    }, 100); // Remove hover class after a short delay
  }
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.event.move.min.js" integrity="sha512-LbipuILGe2LAzpjWmMA+B++LsvW1nAL5IQXvpmidOmJmei0p/odo6ewzxX8YHGc51DGIwcUDa6LxQxOEf7G1EA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.twentytwenty.min.js" integrity="sha512-GPLeok4pmABjbz8dF6i4cqao9fhF9LE5X4rI0ORBe2YqbZmaqdSiM7g4oO+CEy99SxZV6memnoKANwopFr6Z6g==" crossorigin="anonymous"></script>
<script>
  $(window).on('load',function(){
    $("#beforeAfterImgContainer").twentytwenty({
        no_overlay: true
    });
  });
</script>
</script>
</body>

</html>