{% extends "web/base.html" %}
{% load static %}
{% block content %}

<div class="main-wrapper main-wrapper-2">

    </div>
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Blog Details</h2>
                <ul data-aos="fade-up" data-aos-delay="400">
                    <li><a href="{% url "web:index" %}">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>update Details</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
            <img src="" alt="">
        </div>
        <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
            <img src="" alt="">
        </div>
    </div>
    <div class="blog-details-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-wrapper">
                        <div class="blog-details-img-date-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                             <div class="blog-details-img">
                                <img src="{{updates.detail_image.url}}" alt="">
                            </div>

                        </div>
                        <div class="blog-meta-2" data-aos="fade-up" data-aos-delay="200">
                            <ul>
                                <li class="fa fa-calendar"><a href="#"></a></li>
                                <li><a href="#"></a>{{updates.date}}</li>
                            </ul>
                        </div>
                        <h1 data-aos="fade-up" data-aos-delay="200">{{updates.title}}</h1>
                        <p data-aos="fade-up" data-aos-delay="200">{{updates.description}}</p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrapper blog-sidebar-mt">
                        <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                            <div class="search-wrap-3">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}